PORT=
NODE_ENV=development     // development or production
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.kvfsuol.mongodb.net

ACCESS_TOKEN_SECRET=sampletokensecret
ACCESS_TOKEN_EXPIRY=1d

# If any admin not exist in database then this data will be used to create admin
# All fields are required
PRE_DEFINED_ADMIN_USERNAME=admin
PRE_DEFINED_ADMIN_PASSWORD=admin@pet@123
PRE_DEFINED_ADMIN_EMAIL=admin.pet@gmail.com 
PRE_DEFINED_ADMIN_FULLNAME="Pet Adoption"